<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Naos.Build.Analyzers" version="1.55.40" targetFramework="net462" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net461" />
  <package id="OBeautifulCode.Assertion.Recipes.Must" version="1.0.17" targetFramework="net462" developmentDependency="true" />
  <package id="OBeautifulCode.CodeAnalysis.Recipes.SuppressBecause" version="1.0.6" targetFramework="net462" developmentDependency="true" />
  <package id="OBeautifulCode.Compression" version="1.0.17" targetFramework="net462" />
  <package id="OBeautifulCode.Equality.Recipes.EqualityHelpers" version="1.0.22" targetFramework="net462" developmentDependency="true" />
  <package id="OBeautifulCode.Representation.System" version="1.0.53" targetFramework="net462" />
  <package id="OBeautifulCode.Serialization" version="1.0.74" targetFramework="net462" />
  <package id="OBeautifulCode.Serialization.Json" version="1.0.74" targetFramework="net462" />
  <package id="OBeautifulCode.Type" version="1.0.69" targetFramework="net462" />
  <package id="OBeautifulCode.Type.Recipes.TypeExtensions" version="1.0.69" targetFramework="net462" developmentDependency="true" />
  <package id="StyleCop.Analyzers" version="1.1.118" targetFramework="net462" developmentDependency="true" />
  <package id="xunit" version="1.9.2" targetFramework="net45" />
</packages>